.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: 0.4s ease;
}

.movie-card:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
    transition: 0.3s ease;
}

.overlay h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.overlay p {
    margin: 0;
    color: #ffc107; /* gold */
    font-weight: 500;
}

/*
.card img {
  height: 190px;
  object-fit: cover;
  
}

.card {

  transition: transform 0.1s ease;
  border: 2px solid #ffcc00; 
}

.card:hover {
  transform: scale(1.10);
}*/